body{
    background-image: url(/IMG/colores\ calidos.jpeg);
    background-size: cover;

    font-family: 'Courier New', Courier, monospace;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;

}
h1 {
    color: #000000;
    font-family: cursive
  }

p{
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
    background-color: #6d6d6d9c;
}

.Vergil{
height: 260px;
    display: flex;
  justify-content: center;
}