.unu{
    text-align: center;
    background-color: rgb(252, 212, 83);
    padding: 5px;


}

.sContent{
    text-align: center; 
}

.sub{
    text-align: center;
}

.integrantes{
    display: flex;
    justify-content: center;
}

li{
    margin-bottom: 20px;
}

.tabla{
    display: flex;
    justify-content: center;
    color: black;
}

body{
    background-color: antiquewhite;
}



table,th,td {
  padding: 15px;
  background-color: rgba(224, 75, 75, 0.2);
  color: #000000;
  
}

th {
    text-align: left;
}
  
thead {
    th {
      background-color: #c92626;
    }
}

.integrante{
    text-decoration: none;
    color: #000000;
}

.integrante:hover{
    color:rgb(255, 201, 23);
}

.err{
    text-align: center;
    text-decoration: none;
}

.err:hover{
    color:rgb(255, 201, 23);
}